@page
@model Oceanarium.Pages.Admin.Orders.CreateModel
@{
}

<form method="post" asp-page-handler="CreateOrder">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Order</h2>
			<hr />
		</div>

		<div>
			<label for="SelectedEventId" class="form-label">Select Event</label>
			<select id="SelectedEventId" name="_AdminOrder.EventId" class="form-control" onchange="updatePriceAll()" required>
				<option value="">Select Event</option>
				@foreach (var objEv in Model._EventsList)
				{
					var soldOut = objEv.MaxTickets == 0;

					if (!soldOut)
					{
						<option value="@objEv.Id" data-max="@objEv.MaxTickets">
							@objEv.Name (@objEv.MaxTickets tickets left)
						</option>
					}
				}
				@if (!Model._EventsList.Any(ev => ev.MaxTickets > 0 && ev.EndDate > DateTime.Now))
				{
					<option disabled>No events available</option>
				}
			</select>
		</div>

		<div class="mb-3">
			<label asp-for="_AdminOrder.BuyerEmail" class="form-label">Buyer email</label>
			<input asp-for="_AdminOrder.BuyerEmail" type="email" class="form-control" />
			<span asp-validation-for="_AdminOrder.BuyerEmail" class="text-danger"></span>
		</div>

		<div id="ticketContainer">
			<div id="ticketTemplate_0" class="ticket">
				<div style="display: flex; align-items: center; gap: 10px;">
					<h4 id="ticketNumber" class="text-primary">Ticket 1</h4>
					<label for="ticketQuantity_0" class="ticket-count-label">Quantity</label>
					<input id="ticketQuantity_0" name="_AdminOrder.Tickets[0].TicketQuantity" type="number"
						   class="form-control ticketQuantity" min="1" value="1" onchange="updatePrice(this); maxTickets();" />

					<label for="discountType_0" class="ticket-type-label">Type</label>
					<select id="discountType_0" name="_AdminOrder.Tickets[0].DiscountType"
							class="form-control ticketDiscountType" onchange="updatePrice(this); categoryCheck();" required>
						<option value="" selected disabled>Select Ticket Type</option>
						@foreach (string type in Model._AdminOrder.Tickets[0].DiscountOptions)
						{
							<option value="@type">@type</option>
						}
					</select>

					<label for="ticketPrice_0" class="ticket-price-label">Price</label>
					<input id="ticketsPrice_0" name="_AdminOrder.Tickets[0].TicketPrice" class="form-control ticketsPrice" type="number" readonly />

					<button type="button" class="btn btn-primary" onclick="removeTicket(this)">Remove</button>
				</div>
			</div>
		</div>

		<button id="addTicketButton" type="button" class="btn btn-primary mt-4" onclick="addTicket();">
			Add Ticket
		</button>

		<div>
			<label asp-for="_AdminOrder.TotalAmount" class="form-label total-amount-label">Total price:</label>
			<input asp-for="_AdminOrder.TotalAmount" class="form-control totalAmount" type="number" readonly/>
			<span asp-validation-for="_AdminOrder.TotalAmount" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="_AdminOrder.PaymentMethod" class="form-label">Payment method</label>
			<select asp-for="_AdminOrder.PaymentMethod" class="form-control">
				<option value="" disabled selected>Select Payment Method</option>
				<option value="Card">Card</option>
				<option value="PayPal">PayPal</option>
				<option value="Blik">Blik</option>
			</select>
			<span asp-validation-for="_AdminOrder.PaymentMethod" class="text-danger"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-3">
			<button type="submit" class="btn btn-primary form-control">Create</button>
		</div>
		<div class="col-6 col-md-3">
			<a asp-page="./Index" class="btn btn-outline-secondary border form-control">
				Back to List
			</a>
		</div>
	</div>
</form>

@if (!ModelState.IsValid)
{
	<div class="alert alert-danger">
		<ul>
			@foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
			{
				<li>@error.ErrorMessage</li>
			}
		</ul>
	</div>
}

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
		<script src="~/js/AdminOrderCreate.js"></script>
	}
}